	.navbar {
	background-color: #232D3B;
	border-bottom: 8px solid #EE5F15;
	height: 11.5vh;
	position: relative;
	margin-bottom: 0px;
}

#logo {
	position: absolute;
	left: 49%;
	margin-left: -50px !important;  /* 50% of your logo width */
	display: inline-block;
}

/*--- timer Code ---*/

#clockdiv{
	text-align: center;	
  font-family: sans-serif;
  font-weight: 100;
}

.link{
  margin-top: 40px;
}

#clockdiv{
  display: inline-block;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  background: #265;
  border-radius: 10px;
  text-decoration: none;
}

a:hover{
  background: #487;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
}


#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #45A39E;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background:  #265;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	
	font-size: 16px;
}

#headline {
	color: white;
	}