.navbar {
	background-color: #232D3B;
	border-bottom: 3px solid blanchedalmond;
	height: 11.5vh;
	position: relative;
	margin-bottom: 0px;
}

#logo {
	position: absolute;
	left: 49%;
	margin-left: -50px !important;  /* 50% of your logo width */
	display: inline-block;
}

#main {
	background-color: #FF772F;
	height: 88.8vh;
}

form {
	padding: 13% 20%;
}

label {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 8vmin;
	margin-bottom: 3.5%;
}

#pswd {
	box-shadow: 5px 5px 10px #595959;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.btn {
	display:inline-block;
	color:#FFF;
	font-size:1.2em;
	font-weight:400;
	background:#7accc8;
	padding:10px 30px;
	border-bottom:4px solid #45A39E;
	border-radius:3px;
}

.btn:hover {
	background-color: #267571;
	color: white;
}

h1{
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top:50px;
	}